@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&family=Syne:wght@400;700&display=swap');
@font-face {
  font-family: Buffalo-bold;
  src: url(Buffalo-Bold.ttf);
}

@font-face {
  font-family: Buffalo;
  src: url(Buffalo-Regular.ttf);
}

body {
    overflow-x: hidden;
    margin: 0px;
    /* font-family: monospace; */
    font-family: 'Buffalo', sans-serif;
    color: black;
    height: 8000px;
    /* background: linear-gradient(white 0%, white 20%, #f00, 50%, #f00 60%, black 85%); */
    background-color: white;

    box-shadow: inset 0px 0px 50px black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 1;
    animation-name: canvas;
    animation-duration: 3s;
}

main {
    width: 100vw;
    height: 200vw;
    z-index: 99;
    position: absolute;
    justify-content: center;
    text-align: center;
    /* pointer-events: none; */
    font-size: 5vh;
}

section {
    min-height: 100vh;
    padding: 20px;
    font-size: 4vh;
}

/* main{
  scroll-snap-type: y mandatory;
}


.textblock{
  scroll-snap-align: center;
} */

.textblock{
  /* display: none; */
  position: absolute;
  /* top: 30vh; */
  /* left: 0em; */
  left: 3em;
  text-align: left;
  font-family: 'Syne', sans-serif;
  /* font-family: 'Buffalo', sans-serif; */
  font-weight: 100;
  width: 18em;
  letter-spacing: 2px;
  /* margin-left: 3em; */
  padding: 0em 1em 0em 1em;
  /* border: 1px solid black;
  border-radius: 0em 2em 2em 0em; */
}

.textblock p{
  font-size: 0.8em;
  font-weight: 400;

  /* background-color: #ffffff22;
  backdrop-filter: blur(100px);
  padding: 0 0.2em 0.5em 0.2em;
  border-radius: 1em; */
}

.textblock h1{
  /* font-weight: 700; */
  font-family: 'Buffalo-bold', sans-serif;
  font-size: 0.8em;
  /* background-color: #ffffff22;
  backdrop-filter: blur(100px);
  padding: 0 0.2em 0.5em 0.2em;
  border-radius: 1em; */
}

#about{
  color: black;
}

#intro{
  color: white;
  color: black;
}

#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
}


.title{
  position: fixed;
  filter: invert();
  animation-name: title;
  animation-duration: 5s;
  transform: translate(-50%, -50%) scale(0.15);
  top: 3em;
  left: 50vw;
}

@keyframes title {
  0% {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
  }
  20%{
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 1;
  }
  30%  {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0.25);
  }
  60%{
    top: 3em;
    /* left: 50vw; */
    transform: translate(-50%, -50%) scale(0.15);
  }
}

@keyframes canvas{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.bgtext{
  position: absolute;
  top: 220vh;
  z-index: -500;
}

#toys{
  /* position: absolute; */
  /* z-index: 1000; */
  background-color: white;
  pointer-events: all;

  display: flex;
  flex-direction: row;

  position: absolute;
  left: 50vw;

  transform: translateX(-50%);
  width: 900px;
  width: 100vw;
}

.box1{
  /* background-image: url("../assets/1.jpg"); */
  /* border: 1px solid white; */
  width: 300px;
  height: 500px;


  box-shadow: inset 50px 50px 100px #ffffff55,
  inset -50px -50px 100px #00000055;

  background-color: #ffffff33;
  backdrop-filter: blur(10px);

  border-radius: 1em;
  /* width: 500px; */
  /* left: 0; */
  overflow: scroll;
  display: flex;
  flex-direction: column;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
/*
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.box1::-webkit-scrollbar {
  display: none;
}

.box1 img{
  height: 100%;
  transform: scale(2);
  margin: 3em 0 3em 0;
  /* overflow-x: hidden; */
}

.one {
  background-image: url("../assets/1.jpg");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.two {
  background-image: url("../assets/2.jpg");
  height: 100%;
}


#trailer video{
  width: 100%;
  position: absolute;
  z-index: 1000;
  left: 0;
}

#trailer{
  width: 100vw;
  position: absolute;
  z-index: 1000;
  left: 0;
  padding: 0;
}

/* nav */
#menu-wrapper #hamburger-menu {
    position: fixed;
    z-index: 1000;
    width: 25px;
    height: 20px;
    margin: 15px;
    transform: scale(3) translate(1rem, 1rem);
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: black;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
